node_modules
**/node_modules
npm-debug.log
.git
.gitignore
.env
.env.*
!.envs
.vscode
.idea
*.log
.DS_Store
coverage
.nyc_output
dist
build
*.swp
*.swo
*~
frontend/node_modules
frontend/dist
frontend/build
